.gridContainer
{
	background: #fff000;
	width:80%;
	margin:auto;
}

.col {
    display: block;
    position: relative;
    float: left;
    width: 32%;
    height: auto;
    margin-left: 1%;
}

.box {
    display: block;
    position: relative;
    margin-bottom: 6%;
    width: 96%;
    min-height: 150px;
    padding: 4%;
    color: black;
    box-shadow: 3px 3px 3px #888888;
    font-family: 'Open Sans', sans-serif;
    font-weight: 5;
    line-height: 110%;
}

.bottomBar{
  height: 30px;
  background-color: "#ffffff";
  display: block;
  position: relative;   
  font-size: 20px;
  padding: 0%;
}

.icons{

}

.icon{
  display: block;
  float: right;
  width: 30px;
}

.delete {
  position: absolute;
  top: 5px;
  right: 5px;
  height: auto;
  font-size: 30px;
  line-height: 110%;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

